:root {
  --clr-primary: 0 0% 10%;
  --clr-secondary: 0 0% 100%;
  --clr-highlight: 1 100% 60%;

  --ff-primary: "Lato", Helvetica, sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-300: 1.5rem;
  --fs-500: 4rem;
}
